<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.ros.android.android_10">



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name">
        <activity
            android:name="org.ros.android.MasterChooser"
            android:label="@string/app_name"
            android:launchMode="standard"/>

        <service android:name="org.ros.android.NodeMainExecutorService"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService"/>
            </intent-filter>
        </service>
    </application>

</manifest>